/* This file imports partials t be compiled into one style sheet which is then attached to the html

All the files that are prefixed with an underscore like "_name-of-file.scss" are partials which will be comped into this file. 
*/
/* dont include the underscore in any name */
/* variables go here */
/* includes all variables */
/*
Similar to a function, has multiple variables declared

to use @include mixin name 
@mixin mixin-name

when you have a mixin with arguements you write @include($arguement1, arguement2)
*/
html {
  font-family: helvetica, futura, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: decimal-leading-zero;
  overflow: hidden;
}

li {
  margin: 0;
  padding: 0;
  color: #aaa;
}

li:hover {
  color: #d2d2d2;
}

h1 {
  color: #d56302;
  transition: 500ms ease;
}

h1:hover {
  color: #fd9740;
}

.primary-btn {
  background-color: #d2d2d2;
  padding: 2em;
  border-radius: 3px;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  color: #fff;
}

.primary-btn:hover {
  background-color: #aaa;
}

.secondary-btn {
  background-color: #d2d2d2;
  padding: 2em;
  border-radius: 3px;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #aaa;
}

.border, ul {
  border: 10px solid #aaa;
  padding: 2em;
  transition: 500ms ease;
  height: 2em;
}

.border:hover, ul:hover {
  border-radius: 0px 0px 150px 0px;
  height: 20em;
  color: grey;
}

.border p, ul p {
  color: #aaa;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
