/* variables go here */

//colours    
    $deepblue: #092E42;
    $medteal:#8ABDB3;
    $pale: #E9F1EA;
    $green: #E9F1EA;

//fonts
    $helvetica:helvetica,futura,sans-serif;
    $white: white;

//bkg
    $bkg: #aaa;
    $drkbkg: lighten($bkg, 90%);
    $purple:#703401;