/* variables go here */

//colours    
    $primary: #3498db;
    $secondary:#aaa;

//fonts
    $helvetica:helvetica,futura,sans-serif;
    $white: white;

//bkg
    $bkg: #aaa;
    $drkbkg: lighten($bkg, 90%);
    $purple:#703401;