html {
	box-sizing: border-box;
    font-family: $font;
	text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
}


/* embedding stuff */

.list-group {
	display: block;
	padding: 0;

	list-style-type: none;
}

.list-group__item {
	display: inline-block;
}

.item {
    margin: .5em;
    text-decoration: none;
    color: $pale;
    font-size: 2em;
    color: $grey;
    transition: 300ms ease;
        &:hover {
           color: $drkgrey; 
        }
}


.item i {
    /*vertical-align: -5; */
    padding-right: .25em;
}

.source {
    text-decoration: none;
    color:#162A38;
    opacity: .5;
    font-size: .75em;
    padding-top: 1.13em;
    padding-left: 1.13em;
    transition: all 300ms linear;
}

.source:hover,
.source:active,
.source:focus{
    opacity: 1;
}

.box {
    margin: .5em;
    background-color: $lightergrey;
    border: 2px solid $grey;
    border-radius: 50px 5px 50px 5px;
    overflow: hidden;
    box-shadow: $shadow;
    background-image: url(../artwork/pattern.svg);
    background-repeat: repeat;
    background-size: 1em;
}

/* toggle stuff */

.toggle-label {
    cursor: pointer;
}

.toggle {
    padding-top: .25em;
    padding-left: .5em;
    padding-bottom: 0em;
    display: block;
    font-size: 1.5em;
    opacity: 1;    
}

.toggle-icon {
    vertical-align: -8;
    font-size: 1.5em;
    padding-right: .5em;
}

.toggle-check {
    position: absolute;
    top: -3em;
    display: block;
}

.toggle-menu {
    overflow: hidden;
    margin: 0 0em;
    background-color:$medteal;
    position: relative;
    z-index: 1000;
    max-height: 0em;
    transition: all 300ms linear;
}

.toggle-check:checked ~ .toggle-menu {
    max-height: 10em;
}

.character {
    max-width: 80%;
    padding: 1em;
    display: inline;
    align-content: center;
}

.username {
    margin: 0;
    padding: 0 0 .25em 0;
    color: $grey;
    transition: 300ms ease;
        &:hover {
           color: $drkgrey; 
        }
}

.nav-bar {
    background-color:$medteal;
    box-shadow: $shadow;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 30em){
    .character {
        max-height: 30em;
    }
}